.app{
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__body{
  display: flex;
  justify-content:center;
  position: relative;  /*only put position: relative and top: 80px here
  instead of repeating it on sidebar feed and widgets*/
  top: 80px;          
  max-width: 1128px;
  /* margin-left: 20px;
  margin-right: 20px; */
}

@media (max-width: 679px){
    .app__body{
      flex-direction: column;
      align-items: center;
      max-width: 600px;
      min-width: 539.20px;
    }
}